@use 'common';

body.sprint {

  .root {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(min-content, 20rem);
    grid-template-rows: minmax(0, 1fr) 20rem;
    grid-template-areas:
      "challenges controls"
      "stage controls";
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }
  .challenges {
    @include common.center;
    grid-area: challenges;
    position: relative;
    overflow: hidden;
  }
  .stage {
    @include common.center;
    grid-area: stage;
    position: relative;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: controls;
    position: relative;
  }

  .start-button-panel {
    @include common.full;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &.hidden {
      display: none;
    }
    .start-button {
      @include common.center;
      @include common.button;
      width: 10rem;
      height: 10rem;
      margin: 5rem;
      flex-shrink: 0;
      border-radius: 50%;
      font-size: 2rem;
    }
  }
}
